indicator=1
boop=1
tony, stark, dontfeelgood, dontfeelsogood=1
yeet=1
role=1
ping=1
rating=1
roll=1
blur=1
choose=1
poll=1
rpstart=1
bet=1
perish, thenperish=1
teey=1
stats=1
beans=1
eightball, 8ball=1
vote=1
results=1
wolfram=1
map=1
info, about=1
givebeans=1
c++, g++, cplus, cpp=1
work=1
showpoll=1
rpend=1
rpg=1
tweet=1
java, jdoodle=1
help=1
buildHelp=1
invite=1
shutdown=1
