indicator=on
boop=on
tony, stark, dontfeelgood, dontfeelsogood=on
yeet=on
role=on
ping=on
rating=on
roll=on
blur=on
choose=on
poll=on
rpstart=on
bet=on
perish, thenperish=on
teey=on
stats=on
beans=on
eightball, 8ball=on
vote=on
results=on
wolfram=on
map=on
info, about=on
givebeans=on
c++, g++, cplus, cpp=on
work=on
showpoll=on
rpend=on
rpg=on
tweet=on
java, jdoodle=on
help=on
buildHelp=on
invite=on
shutdown=on
