[CommandEightBall]
Ask again later. = 
My sources say no. = 
You may rely on it. = 
Answers a yes or no question! Warning = Kitty can not actually tell the future, she claims no responsibility for any lion mauling, lack of lottery wins, or felony charges. =
Without a doubt. = 
My reply is no. = 
Signs point to yes. = 
Reply hazy, try again. = 
Answers a yes or no question! Warning: Kitty can not actually tell the future, she claims no responsibility for any lion mauling, lack of lottery wins, or felony charges. = 
Yes. = 
Yes - definitely. = 
It is certain. = 
Concentrate and ask again. = 
It is decidedly so. = 
As I see it, yes. = 
Outlook good. = 
Outlook not so good. = 
Cannot predict now. = 
Most likely. = 
Very doubtful. = 
Don't count on it. = 
Better not tell you now. = 

[CommandColiru]
Will try to compile any c++ code you put in! Supports up to C++14 standard, uses g++. = 

[CommandPerish]
Adds a red, 'a n g e r y' overlay to your icon or the icon of a friend you mentioned = 

[CommandBeansShow]
Displays how many beans you have = 
You have %s beans! = 

[CommandPollResults]
%s people voted for %s `%s` with `%s%` !\n = 
Will show current results of a poll and percentages of votes per choice = 
%s people voted for %s `%s` with `%s%` !\n  = 

[CommandShutdown]
Forced immediate shutdown, threads abandoned without sync. = 
Stops kitty. `-s` or `safe` as an argument attempts to sync off the database before shutdown. = 
Forced shutdown, database synced before abandoning threads. = 

[CommandBetBeans]
That's not a valid bet! = 
You don't have enough beans! = 
Please bet with at least 50 beans! = 
You won %s beans! = 
Sorry, you didn't win, try again! = 
Allows you to bet your beans, set your amount after the command! Warning! House always wins!\nSets of 3 will get 5x, 4 will get 10x, and 5 will get 1000x = 

[CommandRole]
You aren't allowed to do that! You must have the KittyRole '%' or higher! = 
Please enter `general`, `mod`, or `admin`! = 
Your role is = 
Will show the current role you have, Admins can change others roles with input of 'role x @y' with x being blacklist, general, mod, or admin. Blacklist will not allow the user to interact with kitty anymore, general mod and admin will give the user access to those commands. = 
Changed %s to role `%s`! = 

[CommandChangeIndicator]
Changes the command indicator to any single character. By default, it's '!'. If more than one character is provided, the first one is used! = 
Indicator changed to `%s` = 

[CommandMap]
Invalid arguments provided! = 
Using mapgen v0.1 = 
Width = 
Seed = 
Height = 

[CommandPollVote]
You already voted = 
That's not a vaild number! = 
%s That's not a vaild vote! = 
Vote in a poll with the choice number, won't work if no poll is running, you can't change your vote once you have cast it! Be careful! = 
You successfully voted for = 

[CommandDoWork]
I finished with my work! = D =
I finished with my work! :D = 
Occupies a core for a few seconds = 

[CommandHelp]
You can get help with a specific command by typing `!help command`!\nYou can also look at <https = //www.rinsnowmew.com/bot/info/#commands>\nGeneral Commands: `boop, roll, choose, help, info, vote, results, showpoll, wolfram, cplus, java, beans, role, bet, yeet` =
You can get help with a specific command by typing `!help command`!\nYou can also look at <https://www.rinsnowmew.com/bot/info/#commands>\nGeneral Commands: `boop, roll, choose, help, info, vote, results, showpoll, wolfram, cplus, java, beans, role, bet, yeet` = 
Lets you look up specific commands, or get a link to a list of all commands. = 

[CommandPing]
Will respond with Pong! = 
Pong! = 

[CommandBoop]
Woah! %s booped me! That's %s total! = 
%s booped several others - %s! = 
%s booped %s! = 
Kitty will react with a counter = 

[CommandInfo]
I'm made by `Rin#8904` and `Reverie Wisp#3703`!\nYou can find more info about me along with a Patreon link to support us and GitHub link for filing bugs https://www.rinsnowmew.com/bot/ = 
I'm made by `Rin#8904` and `Reverie Wisp#3703`!\nYou can find more info about me along with a Patreon link to support us and GitHub link for filing bugs https = //www.rinsnowmew.com/bot/ =
Provides author info and a link to Kitty's website = 

[CommandBlurry]
Blurs your icon or the icon of a friend you mentioned = 

[CommandHelpBuilder]
Emit help for all commands as formatted HTML = 
commands = 

[CommandRating]
Warning = NSFW may slip through, images are only based on tags on their respective sites! =
Kittybot content set to = 
Warning: NSFW may slip through, images are only based on tags on their respective sites! = 
Invalid content rating = 

[CommandRPEnd]
Here's your file! = 
You can't end this RP! = 
Ends RP in channel = 

[CommandPollShow]
Will show the current poll running = 
The current poll is `%s`\n = 
And the choices are = \n =
There is no poll running! = 
And the choices are:\n = 

[CommandGiveBeans]
That's not a valid number! = 
Gives beans to the mentioned users! = 
You didn't mention anyone! = 
Gave %s %s beans! = 

[CommandRPG]
Admin+ command only right now - experimental text RPG! Format is !rpg <rpg command> = 
Invalid RPG Command! = 

[CommandPollManage]
'start' will start a new poll with the query of the line you put after, 'choice' will add a choice to the poll, 'stop' will end the poll = 

[CommandRPStart]
Starts an rp, add people to it by mentioning them! = 

[CommandJDoodle]
Will compile any java code you put in! Supports Java 1.8 = 

[CommandRoll]
Based on input of xdy where x is number of dice and y is faces kitty will roll that amount of dice, display the individual rolls and total = 
Didn't work ;3; = 

[CommandInvite]
Provies a direct invite link for KittyBot = 

[CommandChoose]
With an input of x,y,z where x y and z are all choices, kitty will choose one = 
I chooooooose %s! = 

