[CommandPollManage]
'start' will start a new poll with the query of the line you put after, 'choice' will add a choice to the poll, 'stop' will end the poll=

[CommandBeansShow]
You have %s beans!=
Displays how many beans you have=

[CommandHelp]
Lets you look up specific commands, or get a link to a list of all commands.=
You can get help with a specific command by typing `!help command`!\nGeneral Commands: `boop, roll, choose, help, info, vote, results, showpoll, wolfram, cplus, java, beans, role, bet, yeet`=

[CommandRoll]
Didn't work ;3;=
Based on input of xdy where x is number of dice and y is faces kitty will roll that amount of dice, display the individual rolls and total=

[CommandStats]
Displays the actively running KittyBot application information=

[CommandTweet]
With an input of x,y,z where x y and z are all choices, kitty will choose one=
Tweet command failed!=

[CommandRole]
Please enter `general`, `mod`, or `admin`!=
You aren't allowed to do that! You must have the KittyRole '%' or higher!=
Will show the current role you have, Admins can change others roles with input of 'role x @y' with x being blacklist, general, mod, or admin. Blacklist will not allow the user to interact with kitty anymore, general mod and admin will give the user access to those commands.=
Your role is=
Changed %s to role `%s`!=

[CommandColiru]
Will try to compile any c++ code you put in! Supports up to C++14 standard, uses g++.=

[CommandJDoodle]
Will compile any java code you put in! Supports Java 1.8=

[CommandChangeIndicator]
Changes the command indicator to any single character. By default, it's '!'. If more than one character is provided, the first one is used!=
Indicator changed to `%s`=

[CommandPerish]
Adds a red, 'a n g e r y' overlay to your icon or the icon of a friend you mentioned=

[CommandStark]
Snaps your icon or the icon of a friend you mentioned=

[CommandYeet]
Yeet yourself or yeet a friend with @!=

[CommandPollVote]
There is no poll running!=
You already voted=
%s That's not a vaild vote!=
That's not a vaild number!=
Vote in a poll with the choice number, won't work if no poll is running, you can't change your vote once you have cast it! Be careful!=
You successfully voted for=

[CommandShutdown]
Stops kitty. `-s` or `safe` as an argument attempts to sync off the database before shutdown.=
Forced shutdown, database synced before abandoning threads.=
Forced immediate shutdown, threads abandoned without sync.=

[CommandBetBeans]
That's not a valid bet!=
Please bet with at least 50 beans!=
Allows you to bet your beans, set your amount after the command! Warning! House always wins!\nSets of 3 will get 5x, 4 will get 10x, and 5 will get 1000x=
Sorry, you didn't win, try again!=
You don't have enough beans!=
You won %s beans!=

[CommandDoWork]
I finished with my work! :D=
Occupies a core for a few seconds=

[CommandRPStart]
Starts an rp, add people to it by mentioning them!=

[CommandBlurry]
Blurs your icon or the icon of a friend you mentioned=

[CommandPollResults]
Will show current results of a poll and percentages of votes per choice=
%s people voted for %s `%s` with `%s%` !\n =

[CommandRating]
Kittybot content set to=
Warning: NSFW may slip through, images are only based on tags on their respective sites!=
Invalid content rating=

[CommandGiveBeans]
That's not a valid number!=
Gave %s %s beans!=
Gives beans to the mentioned users!=
You didn't mention anyone!=

[CommandPollShow]
There is no poll running!=
And the choices are:\n=
Will show the current poll running=
The current poll is `%s`\n=

[CommandHelpBuilder]
Emit help for all commands as formatted HTML=
commands=

[CommandRPEnd]
Here's your file!=
You can't end this RP!=
Ends RP in channel=

[CommandRPG]
Invalid RPG Command!=
Admin+ command only right now - experimental text RPG! Format is !rpg <rpg command>=

[CommandBoop]
%s booped %s!=
Kitty will react with a counter=
Woah! %s booped me! That's %s total!=
%s booped several others - %s!=

[CommandInfo]
Provides author info and a link to Kitty's website=
I'm made by `Rin#8904` and `Reverie Wisp#3703`!\nYou can find more info about me along with a Patreon link to support us and GitHub link for filing bugs https://www.rinsnowmew.com/bot/=

[CommandPing]
Pong!=
Will respond with Pong!=

[CommandChoose]
With an input of x,y,z where x y and z are all choices, kitty will choose one=
I chooooooose %s!=

[CommandEightBall]
It is certain.=
Ask again later.=
Cannot predict now.=
My sources say no.=
You may rely on it.=
Answers a yes or no question! Warning: Kitty can not actually tell the future, she claims no responsibility for any lion mauling, lack of lottery wins, or felony charges.=
Concentrate and ask again.=
Signs point to yes.=
Don't count on it.=
Yes.=
My reply is no.=
Most likely.=
Reply hazy, try again.=
Without a doubt.=
Yes - definitely.=
Very doubtful.=
As I see it, yes.=
Better not tell you now.=
Outlook good.=
Outlook not so good.=
It is decidedly so.=

[CommandInvite]
Provies a direct invite link for KittyBot=

[CommandWolfram]
Something went wrong!=
Will query wolframalpha with your question and give a full image output of the answer=
You need to provide some arguments!=

[CommandMap]
Seed=
Invalid arguments provided!=
Height=
Using mapgen v0.1=
Width=


