[ObjectBuilderFactory]
indicator=
boop=
tony, stark, dontfeelgood, dontfeelsogood=
yeet=
role=
guildroleremove=
ping=
bethistory=
benchmark, bench=
rating=
roll=
blur=
choose=
poll=
rpstart=
guildrolenotallowed=
bet=
perish, thenperish=
teey=
guildrolelist=
stats=
dbstats=
beans=
eightball, 8ball=
catch=
guildroleadd=
vote=
results=
wolfram=
map=
info, about=
givebeans=
c++, g++, cplus, cpp=
work=
showpoll=
rpend=
rpg=
tweet=
java, jdoodle=
guildroleallowed=
help=
buildHelp=
fetch=
crouton=
invite=
dbflush=
shutdown=


