[ObjectBuilderFactory]
indicator=
boop=
tony, stark, dontfeelgood, dontfeelsogood=
yeet=
role=
guildroleremove=
ping=
rating=
roll=
blur=
choose=
poll=
rpstart=
bet=
perish, thenperish=
teey=
stats=
beans=
eightball, 8ball=
guildroleadd=
vote=
results=
wolfram=
map=
info, about=
givebeans=
c++, g++, cplus, cpp=
work=
showpoll=
rpend=
rpg=
tweet=
java, jdoodle=
guildroleallowed=
help=
buildHelp=
fetch=
invite=
shutdown=


