[CommandPollManage]
PollManageInfo='start' will start a new poll with the query of the line you put after, 'choice' will add a choice to the poll, 'stop' will end the poll

[CommandBeansShow]
BeansShowDisplay=You have %s beans!
BeansShowInfo=Displays how many beans you have

[CommandHelp]
HelpInfo=Lets you look up specific commands, or get a link to a list of all commands.
HelpDisplay=You can get help with a specific command by typing `!help command`!\nGeneral Commands: `boop, roll, choose, help, info, vote, results, showpoll, wolfram, cplus, java, beans, role, bet, yeet`

[CommandRoll]
RollError=Didn't work ;3;
RollInfo=Based on input of xdy where x is number of dice and y is faces kitty will roll that amount of dice, display the individual rolls and total

[CommandStats]
StatsInfo=Displays the actively running KittyBot application information

[CommandTweet]
TweetInfo=Kitty will tweet to her personal twitter account
TweetError=Tweet command failed!

[CommandRole]
RoleInfo=Will show the current role you have, Admins can change others roles with input of 'role x @y' with x being blacklist, general, mod, or admin. Blacklist will not allow the user to interact with kitty anymore, general mod and admin will give the user access to those commands.
RoleStandardResponse=Your role is
RoleError=You aren't allowed to do that! You must have the KittyRole '%' or higher!
RoleChanged=Changed %s to role `%s`!
RoleNeededRole=Please enter `general`, `mod`, or `admin`!

[CommandColiru]
ColiruError=Please provide some c++ code to attempt to compile!
ColiruInfo=Will try to compile any c++ code you put in! Supports up to C++14 standard, uses g++.

[CommandJDoodle]
JDoodleInfo=Will compile any java code you put in! Supports Java 1.8
JDoodleError=Please provide some java code to get it compiled!

[CommandChangeIndicator]
ChangeIndicatorInfo=Changes the command indicator to any single character. By default, it's '!'. If more than one character is provided, the first one is used!
ChangeIndicatorError=Please specify a letter or symbol to use!
ChangeIndicatorChanged=Indicator changed to `%s`

[CommandPerish]
PerishInfo=Adds a red, 'a n g e r y' overlay to your icon or the icon of a friend you mentioned

[CommandStark]
StarkInfo=Snaps your icon or the icon of a friend you mentioned

[CommandYeet]
YeetInfo=Yeet yourself or yeet a friend with @!

[CommandPollVote]
PollVoteNotValidNumber=That's not a vaild number!
PollVoteInfo=Vote in a poll with the choice number, won't work if no poll is running, you can't change your vote once you have cast it! Be careful!
PollVoteNoPoll=There is no poll running!
PollVoteAlreadyVoted=You already voted
PollVoteNotValidVote=%s That's not a vaild vote!
PollVoteSuccess=You successfully voted for

[CommandShutdown]
ShutdownInfo=Stops kitty. `-s` or `safe` as an argument attempts to sync off the database before shutdown.

[CommandTeey]
TeeyInfo=Teey yourself back into existance, or teey a friend with @!

[CommandBetBeans]
BetBeansLowBet=Please bet with at least 50 beans!
BetBeansInfo=Allows you to bet your beans, set your amount after the command! Warning! House always wins!\nSets of 3 will get 2x, 4 will get 10x, and 5 will get 1000x
BetBeansNotValid=That's not a valid bet!
BetBeansLose=Sorry, you didn't win, try again!
BetBeansNotEnough=You don't have enough beans!
BetBeansWin=You won %s beans!

[CommandDoWork]
DoWorkFinished=I finished with my work! :D
DoWorkInfo=Occupies a core for a few seconds

[CommandRPStart]
RPStartInfo=Starts an rp, add people to it by mentioning them!

[CommandBlurry]
BlurryInfo=Blurs your icon or the icon of a friend you mentioned

[CommandPollResults]
PollResultsResponse=%s people voted for %s `%s` with `%s%` !\n
PollResultsInfo=Will show current results of a poll and percentages of votes per choice

[CommandRating]
RatingInfo='0' is fully sfw (Derpi and e621 searches are disabled), '1' is filtered (kitty auto appends a sfw tag on any searches), '2' is nsfw (any search will go through). Some other words are supported for setting filter as well.
RatingWarning=Warning: NSFW may slip through, images are only based on tags on their respective sites!
RatingChanged=Kittybot content set to
RatingInvalid=Invalid content rating

[CommandGiveBeans]
GiveBeansNoneMentioned=You didn't mention anyone!
GiveBeansSuccess=Gave %s %s beans!
GiveBeansInvalid=That's not a valid number!
GiveBeansInfo=Gives beans to the mentioned users!

[CommandPollShow]
PollShowNoPoll=There is no poll running!
PollShowInfo=Will show the current poll running
PollShowPoll=The current poll is `%s`\n
PollShowChoices=And the choices are:\n

[CommandHelpBuilder]
HelpBuilderInfo=Emit help for all commands as formatted HTML

[CommandRPEnd]
RPEndError=You can't end this RP!
RPEndInfo=Ends RP in channel and gives you a .txt file! 
RPEndFileOut=Here's your file!

[CommandRPG]
RPGInfo=Admin+ command only right now - experimental text RPG! Format is !rpg <rpg command>
RPGInvalid=Invalid RPG Command!

[CommandBoop]
BoopPerson=%s booped %s!
BoopInfo=Kitty will react with a counter
BoopStandard=Woah! %s booped me! That's %s total!
BoopMultiple=%s booped several others - %s!

[CommandInfo]
InfoResponse=I'm made by `Rin#8904` and `Reverie Wisp#3703`!\nYou can find more info about me along with a Patreon link to support us and GitHub link for filing bugs https://www.rinsnowmew.com/bot/
InfoInfo=Provides author info and a link to Kitty's website

[CommandPing]
PingResponse=Pong!
PingInfo=Will respond with Pong!

[CommandChoose]
ChooseChoice=I chooooooose %s!
ChooseOne=I can't choose from *one* thing!
ChooseInfo=With an input of x,y,z where x y and z are all choices, kitty will choose one

[CommandEightBall]
EightBallYes4=Yes - definitely.
EightBallYes3=Without a doubt.
EightBallYes2=It is decidedly so.
EightBallYes1=It is certain.
EightBallYes8=Outlook good.
EightBallYes7=Most likely.
EightBallYes6=As I see it, yes.
EightBallYes5=You may rely on it.
EightBallMaybe1=Reply hazy, try again.
EightBallMaybe2=Ask again later.
EightBallError=Hmm? You'll need to ask a question!
EightBallMaybe3=Better not tell you now.
EightBallMaybe4=Cannot predict now.
EightBallMaybe5=Concentrate and ask again.
EightBallInfo=Answers a yes or no question! Warning: Kitty can not actually tell the future, she claims no responsibility for any lion mauling, lack of lottery wins, or felony charges.
EightBallNo5=Very doubtful.
EightBallNo3=My sources say no.
EightBallNo4=Outlook not so good.
EightBallNo1=Don't count on it.
EightBallNo2=My reply is no.
EightBallYes9=Yes.
EightBallYes10=Signs point to yes.

[CommandInvite]
InviteInfo=Provides a direct invite link for KittyBot

[CommandWolfram]
WolframError=Something went wrong!
WolframInfo=Will query wolframalpha with your question and give a full image output of the answer
WolframNoArgs=You need to provide some arguments!

[CommandMap]
MapInfo=Generates a map! You can pass additional information if you want with the flags `-s<seed>-w<width>-h<height>`. If one of the fields isn't provided, its default will be used. Note that adjusting the width and height impacts the map outcomes.\n\nDefault seed: Random,\nDefault Width: 35(max %s),\nDefault Height: 25(max %s)
MapSeed=Seed
MapInvalid=Invalid arguments provided!
MapVersion=Using mapgen v0.1
MapWidth=Width
MapHeight=Height


