[CommandBenchmark]
    BenchmarkInvalid=The benchmark operation you were trying to perform was invalid!
BenchmarkInfo=Allows you to lookup PC component benchmarks from UserBenchmark! You can use `bench find <name-snippet>
BenchmarkInvalid=

[CommandPollManage]
PollManageInfo=
    PollManageInfo='start' will start a new poll with the query of the line you put after, 'choice' will add a choice to the poll, 'stop' will end the poll

[CommandBetHistory]
    BetHistoryOutput=I have %s treats from betting!
BetHistoryOutput=
    BetHistoryInfo=Gives how many beans I've ~~stolen~~ won from your bets!
BetHistoryInfo=

[CommandGuildRoleNotAllowed]
GuildRoleNotAllowedFailure=
GuildRoleNotAllowedSuccess=
    GuildRoleNotAllowedInfo=Removes a role from the list that users are allowed to add to themselves.
GuildRoleNotAllowedInfo=
    GuildRoleNotAllowedFailure=Unable to remove %s from the list!
    GuildRoleNotAllowedSuccess=Removed %s from the allowed roles!

[CommandCatch]
CatchInfo=
    CatchInfo=Play catch with yourself or with a friend with @!

[CommandLeaderboard]
    LeaderboardTitle=Server Leaderboard
    LeaderboardInfo=Shows you the 10 users with the most beans on the server
LeaderboardInfo=
LeaderboardTitle=

[CommandGuildRoleList]
GuildRoleListOutput=
GuildRoleListEmpty=
    GuildRoleListOutput=You can add these roles! %s

[CommandRoll]
    RollInfo=Based on input of xdy where x is number of dice and y is faces kitty will roll that amount of dice, display the individual rolls and total
RollError=
    RollError=Didn't work ;3;
RollInfo=

[CommandGuildRoleAllowed]
GuildRoleAllowedInfo=
GuildRoleAllowedSuccess=
GuildRoleAllowedDuplicate=

[CommandStats]
StatsInfo=
    StatsInfo=Displays the actively running KittyBot application information

[CommandRole]
    RoleChanged=Changed %s to role `%s`!
RoleInfo=
RoleStandardResponse=
    RoleError=You aren't allowed to do that! You must have the KittyRole '%' or higher!
    RoleStandardResponse=Your role is %s
RoleError=
    RoleInfo=Will show the current role you have, Admins can change others roles with input of 'role x @y' with x being blacklist, general, mod, or admin. Blacklist will not allow the user to interact with kitty anymore, general mod and admin will give the user access to those commands.
RoleChanged=
    RoleNeededRole=Please enter `general`, `mod`, or `admin`!
RoleNeededRole=

[CommandJDoodle]
    JDoodleInfo=Will compile any java code you put in! Supports Java 1.8
    JDoodleError=Please provide some java code to get it compiled!
JDoodleInfo=
JDoodleError=

[CommandChangeIndicator]
    ChangeIndicatorError=Please specify a letter or symbol to use!
    ChangeIndicatorInfo=Changes the command indicator to any single character. By default, it's '!'. If more than one character is provided, the first one is used!
    ChangeIndicatorChanged=Indicator changed to `%s`
ChangeIndicatorInfo=
ChangeIndicatorError=
ChangeIndicatorChanged=

[CommandPerish]
    PerishInfo=Adds a red, 'a n g e r y' overlay to your icon or the icon of a friend you mentioned
PerishInfo=

[CommandTradeBeans]
TradeBeansNoTargetError=
TradeBeansSuccess=
    TradeBeansStealingBeans=Hey %s! Stealing is wrong! Let's see how you like it! *steals 10 beans*
    TradeBeansSuccess=%s gave %s %s beans!
    TradeBeansNotEnoughError=You can't give more beans than you have!
    TradeBeansIntParseError=That's not a real number! D:
    TradeBeansNoTargetError=Don't forget to tag who you want to give the beans to!
TradeBeansStealingBeans=
    TradeBeansInfo=Give your friends some of your beans! Just don't forget to @ them!
TradeBeansInfo=
TradeBeansIntParseError=
TradeBeansNotEnoughError=

[CommandPollVote]
    PollVoteInfo=Vote in a poll with the choice number, won't work if no poll is running, you can't change your vote once you have cast it! Be careful!
PollVoteInfo=
PollVoteNotValidNumber=
    PollVoteAlreadyVoted=You already voted
    PollVoteNoPoll=There is no poll running!
PollVoteNoPoll=
PollVoteAlreadyVoted=
PollVoteNotValidVote=
    PollVoteNotValidNumber=That's not a vaild number!
    PollVoteNotValidVote=%s That's not a vaild vote!
    PollVoteSuccess=You successfully voted for
PollVoteSuccess=

[CommandShutdown]
ShutdownSafe=
ShutdownUnsafe=
    ShutdownInfo=Stops kitty. `-s` or `safe` as an argument attempts to sync off the database before shutdown.
ShutdownInfo=

[CommandRaffleSpin]
RaffleSpinInfo=
RaffleSpinSuccess=
RaffleSpinFailure=
            RaffleSpinSuccess=The winner issssssss %s!
            RaffleSpinFailure=I can't choose a winner D:
            RaffleSpinInfo=

[CommandRaffleEnd]
RaffleEndSuccess=
            RaffleEndSuccess=
RaffleEndInfo=
            RaffleEndInfo=
            RaffleEndFailure=I don't think there's one going!
RaffleEndFailure=

[CommandCharacterSearch]
CharacterSearchNoCharacterFound=
CharacterSearchMultipleCharacterHeader=
CharacterSearchMultipleCharacter=
            CharacterSearchMultipleCharacter=%s is owned by %s. Unique ID is `%s`
            CharacterSearchMultipleCharacterHeader=I found a couple characters with that name, use `charactersearch UniqueID` with their Unique ID to find them!
            CharacterSearchOneCharacter=I found one character with that name! \n Owner: %s | Name: %s | Bio: %s | Ref: <%s> | Unique ID: `%s`
CharacterSearchOneCharacter=
CharacterSearchInfo=Find a character with their name or Unique ID! `charactersearch name` or `charactersearch UniqueID`
            CharacterSearchNoCharacterFound=Couldn't find a character with that name or ID!

[CommandColor]
ColorNotSearchable=Your color couldn't be parsed! Make sure it's in hex format. Try this! `!color 3F5D54`
ColorInfo=Looks up the provided hex color and outputs it as hex, rgb, hsl, hsv, xyz, and cmyk. Also attempts to name the color, and provies a sample of it! Usage example: `!color #365345` (the # can be omitted)

[CommandDoWork]
    DoWorkInfo=Occupies a core for a few seconds
    DoWorkFinished=I finished with my work! :D
DoWorkInfo=
DoWorkFinished=

[CommandRPStart]
    RPStartInfo=Starts an rp, add people to it by mentioning them!
RPStartInfo=

[CommandBlurry]
    BlurryInfo=Blurs your icon or the icon of a friend you mentioned
BlurryInfo=

[CommandRating]
    RatingInvalid=Invalid content rating
RatingInfo=
    RatingInfo='0' is fully sfw (Derpi and e621 searches are disabled), '1' is filtered (kitty auto appends a sfw tag on any searches), '2' is nsfw (any search will go through). Some other words are supported for setting filter as well.
RatingWarning=
    RatingWarning=Warning: NSFW may slip through, images are only based on tags on their respective sites!
RatingChanged=
RatingInvalid=
    RatingChanged=Kittybot content set to %s

[CommandDBStats]
DBStatsInfo=Shows current statistics for the database

[CommandGiveBeans]
GiveBeansNoneMentioned=
    GiveBeansInvalid=That's not a valid number!
GiveBeansSuccess=
    GiveBeansSuccess=Gave %s %s beans!
GiveBeansInvalid=
    GiveBeansInfo=Gives beans to the mentioned users!
    GiveBeansNoneMentioned=You didn't mention anyone!
GiveBeansInfo=

[CommandPollShow]
PollShowInfo=
PollShowNoPoll=
    PollShowNoPoll=There is no poll running!
    PollShowInfo=Will show the current poll running
PollShowPoll=
    PollShowChoices=And the choices are:\n
PollShowChoices=
    PollShowPoll=The current poll is `%s`\n

[CommandHelpBuilder]
    HelpBuilderInfo=Emit help for all commands as formatted HTML
HelpBuilderInfo=

[CommandCharacterEditURL]
CharacterEditURLInfo=Change the image URL for your character's reference! 
CharacterEditURLNotValid=That's not a valid url! 
CharacterEditURLSuccess=Successfully changed your reference! 
CharacterEditURLNotAuth=You're not authorized to change that character! 

[CommandRPG]
    RPGInfo=Admin+ command only right now - experimental text RPG! Format is !rpg <rpg command="">
RPGInfo=
RPGInvalid=
      RPGInvalid=Invalid RPG Command!

[CommandFetch]
      FetchEat=Mine now! *munches on %s*
      FetchBringBack=Got it! %s
      FetchError=That's not a custom emote!
FetchEat=
      FetchInfo=Throw a custom emote and I'll try to bring it back.... maybe
FetchInfo=
FetchRunAway=
      FetchStare=*Stares at %s*
FetchBringBack=
      FetchRunAway=*Runs away and doesn't return for a long time*
      FetchCatchRun=*Catches and runs away with %s*
FetchError=
FetchCatchRun=
FetchBringBackWrong=
FetchStare=
      FetchBringBackWrong=Got it! %s

[CommandInfo]
InfoResponse=
      InfoResponse=I'm made by `Rin#8904` and `Reverie Wisp#3703`! You can find more info about me along with a Patreon link to support us and GitHub link for filing bugs https://kittybot.net
InfoInfo=
      InfoInfo=Provides author info and a link to Kitty's website

[CommandGuildRoleRemove]
GuildRoleRemoveNotAllowed=
GuildRoleRemoveFailure=
GuildRoleRemoveSuccess=
      GuildRoleRemoveNotAllowed=You're not allowed to add %s!
GuildRoleRemoveInfo=
      GuildRoleRemoveFailure=I wasn't able to remove %s from %s!
      GuildRoleRemoveInfo=Removes a role from you! Just remember to spell it right!
      GuildRoleRemoveSuccess=Removed %s from %s!

[CommandWolfram]
      WolframInfo=Will query wolframalpha with your question and give a full image output of the answer
      WolframNoArgs=You need to provide some arguments!
WolframError=
      WolframError=Something went wrong!
WolframInfo=
WolframNoArgs=

[CommandMap]
            MapVersion=Using mapgen v0.1
            MapSeed=Seed
      MapInfo=Generates a map! You can pass additional information if you want with the flags `-s<seed>
MapInvalid=
MapVersion=
            `. If one of the fields isn't provided, its default will be used. Note that adjusting the width and height impacts the map outcomes.\n\n**Defaults**\nDefault Seed: Random,\nDefault Width: 35(max %s),\nDefault Height: 25(max %s)\n\n**Key**\nLand: ~\nMountain: ▲\nBeach: =\nForest: ¥\nLava: #
            MapInvalid=Invalid arguments provided!
            MapWidth=Width
MapInfo=
MapSeed=
MapWidth=
            MapHeight=Height
MapHeight=

[CommandBeansShow]
    BeansShowDisplay=You have %s beans!
BeansShowDisplay=
BeansShowMentioned=
BeansShowInfo=
    BeansShowInfo=Displays how many beans you have
    BeansShowMentioned=I took a look and %sbeans!

[CommandRaffleStart]
RaffleStartSuccess=
RaffleStartFailure=
RaffleStartInfo=

[CommandHelp]
    HelpInfo=Lets you look up specific commands, or get a link to a list of all commands.
    HelpDisplay=You can get help with a specific command by typing `!help command`! General Commands: `boop, roll, choose, help, info, vote, results, showpoll, wolfram, cplus, java, beans, role, bet, yeet`
HelpInfo=
HelpDisplay=

[CommandCharacterEditBio]
CharacterEditBioSuccess=Successfully changed your bio! 
CharacterEditBioNotAuth=You're not authorized to change that character! 
CharacterEditBioInfo=Change the short bio for your character! 
CharacterEditBioNotValid=

[CommandTweet]
    TweetInfo=Kitty will tweet to her personal twitter account
    TweetError=Tweet command failed!
TweetInfo=
TweetError=

[CommandGuildRoleAdd]
    AddGuildRoleFailure=Failed to add %s to %s
    GuildRoleAddNotAllowed=You are not allowed to add %s!
GuildRoleAddSuccess=
GuildRoleAddFailure=
    GuildRoleAddSuccess=Added %s to %s
    GuildRoleAddInfo=Add a role to yourself!
GuildRoleAddNotAllowed=
GuildRoleAddInfo=

[CommandCharacterEditName]
CharacterEditNameInfo=Change your character's name!
CharacterEditNameNotValid=That's not a vaild name!
CharacterEditNameSuccess=Successfully changed your name!
CharacterEditNameNotAuth=You're not authorized to change that character! 

[CommandColiru]
ColiruError=
    ColiruError=Please provide some c++ code to attempt to compile!
ColiruInfo=
    ColiruInfo=Will try to compile any c++ code you put in! Supports up to C++14 standard, uses g++.

[CommandStark]
StarkInfo=
    StarkInfo=Snaps your icon or the icon of a friend you mentioned

[CommandYeet]
YeetInfo=
    YeetInfo=Yeet yourself or yeet a friend with @!

[CommandAllowedGuildRole]
    GuildRoleAllowedDuplicate=Can't add the same role twice!
    GuildRoleAllowedInfo=Adds role to the list of roles users are allowed to add to themselves.
    GuildRoleAllowedSuccess=Added %s to the allowed roles!

[CommandDefaultDance]
    DefaultDanceInfo=y'all know forknife, get ready to dance, or make a friend dance with @!

[CommandCrouton]
    CroutonInfo=Crouton
CroutonInfo=

[CommandCharacterCreate]
CharacterCreateDuplicate=
CharacterCreateInfo=
CharacterCreateSuccess=
CharacterCreateNullInfo=

[CommandTeey]
    TeeyInfo=Teey yourself back into existance, or teey a friend with @!
TeeyInfo=

[CommandBetBeans]
    BetBeansLose=Sorry, you didn't win, try again!
    BetBeansWin=You won %s beans!
    BetBeansLowBet=Please bet with at least 20 beans!
BetBeansInfo=
BetBeansLowBet=
BetBeansNotValid=
BetBeansLose=
BetBeansNotEnough=
BetBeansWin=
    BetBeansInfo=Allows you to bet your beans, set your amount after the command! Warning! House always wins!\nSets of 3 will get 2x, 4 will get 10x, and 5 will get 1000x
    BetBeansNotEnough=You don't have enough beans!
    BetBeansNotValid=That's not a valid bet!

[CommandPollResults]
PollResultsResponse=
    PollResultsResponse=%s people voted for %s `%s` with `%s%` !\n
    PollResultsInfo=Will show current results of a poll and percentages of votes per choice
PollResultsInfo=

[CommandRPEnd]
    RPEndInfo=Ends RP in channel and gives you a .txt file!
RPEndError=
    RPEndError=You can't end this RP!
    RPEndFileOut=Here's your file!
RPEndInfo=
RPEndFileOut=

[CommandBoop]
      BoopMultiple=%s booped several others - %s!
BoopPerson=
BoopInfo=
      BoopInfo=Kitty will react with a counter
      BoopStandard=Woah! %s booped me! That's %s total!
      BoopPerson=%s booped %s!
BoopStandard=
BoopMultiple=

[CommandPing]
      PingInfo=Will respond with Pong!
      PingResponse=Pong!
PingResponse=
PingInfo=

[CommandChoose]
ChooseChoice=
      ChooseOne=I can't choose from *one* thing!
ChooseOne=
      ChooseChoice=I chooooooose %s!
      ChooseInfo=With an input of x,y,z where x y and z are all choices, kitty will choose one
ChooseInfo=

[CommandEightBall]
      EightBallYes9=Yes.
      EightBallInfo=Answers a yes or no question! Warning: Kitty can not actually tell the future, she claims no responsibility for any lion mauling, lack of lottery wins, or felony charges.
EightBallError=
      EightBallMaybe4=Cannot predict now.
      EightBallMaybe5=Concentrate and ask again.
      EightBallMaybe2=Ask again later.
      EightBallMaybe3=Better not tell you now.
      EightBallYes10=Signs point to yes.
EightBallYes9=
      EightBallMaybe1=Reply hazy, try again.
EightBallYes4=
      EightBallError=Hmm? You'll need to ask a question!
EightBallYes3=
EightBallYes2=
EightBallYes1=
EightBallYes8=
EightBallYes7=
EightBallYes6=
EightBallYes5=
EightBallMaybe1=
EightBallMaybe2=
EightBallMaybe3=
EightBallMaybe4=
EightBallMaybe5=
EightBallInfo=
EightBallNo5=
      EightBallNo2=My reply is no.
EightBallNo3=
      EightBallNo1=Don't count on it.
EightBallNo4=
      EightBallNo4=Outlook not so good.
EightBallNo1=
      EightBallNo3=My sources say no.
EightBallNo2=
      EightBallNo5=Very doubtful.
      EightBallYes2=It is decidedly so.
      EightBallYes1=It is certain.
      EightBallYes4=Yes - definitely.
      EightBallYes3=Without a doubt.
      EightBallYes6=As I see it, yes.
      EightBallYes5=You may rely on it.
      EightBallYes8=Outlook good.
      EightBallYes7=Most likely.
EightBallYes10=

[CommandInvite]
InviteInfo=
      InviteInfo=Provides a direct invite link for KittyBot

[CommandRaffleJoin]
RaffleJoinFailure=
RaffleJoinInfo=
RaffleJoinSuccess=

[CommandDBFlush]
DBFlushInfo=Takes all objects queued for the database and writes them to the database, then says how many were written.


