[CommandBenchmark]
BenchmarkInfo=
BenchmarkInvalid=

[CommandBetHistory]
BetHistoryOutput=
BetHistoryInfo=

[CommandPollManage]
PollManageInfo=

[CommandGuildRoleNotAllowed]
GuildRoleNotAllowedFailure=
GuildRoleNotAllowedNoArgs=
GuildRoleNotAllowedSuccess=

[CommandCatch]
CatchInfo=

[CommandLeaderboard]
LeaderboardInfo=
LeaderboardTitle=

[CommandGuildRoleList]
GuildRoleListOutput=
GuildRoleListEmpty=

[CommandRoll]
RollError=
RollInfo=

[CommandGuildRoleAllowed]
GuildRoleAllowedSuccess=
GuildRoleAllowedDuplicate=

[CommandStats]
StatsInfo=

[CommandRole]
RoleInfo=
RoleStandardResponse=
RoleError=
RoleChanged=
RoleNeededRole=

[CommandJDoodle]
JDoodleInfo=
JDoodleError=

[CommandChangeIndicator]
ChangeIndicatorInfo=
ChangeIndicatorError=
ChangeIndicatorChanged=

[CommandPerish]
PerishInfo=

[CommandTradeBeans]
TradeBeansNoTargetError=
TradeBeansSuccess=
TradeBeansStealingBeans=
TradeBeansInfo=
TradeBeansIntParseError=
TradeBeansNotEnoughError=

[CommandPollVote]
PollVoteInfo=
PollVoteNotValidNumber=
PollVoteNoPoll=
PollVoteAlreadyVoted=
PollVoteNotValidVote=
PollVoteSuccess=

[CommandShutdown]
ShutdownSafe=
ShutdownUnsafe=
ShutdownInfo=

[CommandRaffleSpin]
RaffleSpinInfo=
RaffleSpinSuccess=
RaffleSpinFailure=

[CommandRaffleEnd]
RaffleEndSuccess=
RaffleEndInfo=
RaffleEndFailure=

[CommandCharacterSearch]
CharacterSearchNoCharacterFound=
CharacterSearchMultipleCharacterHeader=
CharacterSearchMultipleCharacter=
CharacterSearchOneCharacter=
CharacterSearchInfo=

[CommandColor]
ColorNotSearchable=
ColorInfo=

[CommandDoWork]
DoWorkInfo=
DoWorkFinished=

[CommandRPStart]
RPStartInfo=

[CommandBlurry]
BlurryInfo=

[CommandRating]
RatingInfo=
RatingWarning=
RatingChanged=
RatingInvalid=

[CommandDBStats]
DBStatsInfo=

[CommandGiveBeans]
GiveBeansNoneMentioned=
GiveBeansSuccess=
GiveBeansInvalid=
GiveBeansInfo=

[CommandPollShow]
PollShowInfo=
PollShowNoPoll=
PollShowPoll=
PollShowChoices=

[CommandHelpBuilder]
HelpBuilderInfo=

[CommandGuildRoleMain]
GuildRoleInfo=

[CommandCharacterEditURL]
CharacterEditURLInfo=
CharacterEditURLNotValid=
CharacterEditURLSuccess=
CharacterEditURLNotAuth=

[CommandRPG]
RPGInfo=
RPGInvalid=

[CommandFetch]
FetchError=
FetchEat=
FetchInfo=
FetchCatchRun=
FetchRunAway=
FetchBringBack=
FetchBringBackWrong=
FetchStare=

[CommandInfo]
InfoResponse=
InfoInfo=

[CommandGuildRoleRemove]
GuildRoleRemoveNotAllowed=
GuildRoleRemoveFailure=
GuildRoleRemoveSuccess=

[CommandWolfram]
WolframError=
WolframInfo=
WolframNoArgs=

[CommandMap]
MapInfo=
MapInvalid=
MapVersion=
MapSeed=
MapWidth=
MapHeight=

[CommandBeansShow]
BeansShowDisplay=
BeansShowMentioned=
BeansShowInfo=

[CommandRaffleStart]
RaffleStartSuccess=
RaffleStartFailure=
RaffleStartInfo=

[CommandHelp]
HelpInfo=
HelpDisplay=

[CommandCharacterEditBio]
CharacterEditBioSuccess=
CharacterEditBioNotAuth=
CharacterEditBioInfo=
CharacterEditBioNotValid=

[CommandCharacterEditName]
CharacterEditNameInfo=
CharacterEditNameNotValid=
CharacterEditNameSuccess=
CharacterEditNameNotAuth=

[CommandTweet]
TweetInfo=
TweetError=

[CommandColiru]
ColiruError=
ColiruInfo=

[CommandStark]
StarkInfo=

[CommandRemind]
RemindInfo=

[CommandYeet]
YeetInfo=

[CommandCrouton]
CroutonInfo=

[CommandCharacterCreate]
CharacterCreateDuplicate=
CharacterCreateInfo=
CharacterCreateSuccess=
CharacterCreateNullInfo=

[CommandTeey]
TeeyInfo=

[CommandBetBeans]
BetBeansInfo=
BetBeansLowBet=
BetBeansNotValid=
BetBeansLose=
BetBeansNotEnough=
BetBeansWin=

[CommandPollResults]
PollResultsResponse=
PollResultsInfo=

[CommandRPEnd]
RPEndError=
RPEndInfo=
RPEndFileOut=

[CommandBoop]
BoopPerson=
BoopInfo=
BoopStandard=
BoopMultiple=

[CommandPing]
PingResponse=
PingInfo=

[CommandChoose]
ChooseChoice=
ChooseOne=
ChooseInfo=

[CommandEightBall]
EightBallYes4=
EightBallYes3=
EightBallYes2=
EightBallYes1=
EightBallYes8=
EightBallYes7=
EightBallYes6=
EightBallYes5=
EightBallMaybe1=
EightBallMaybe2=
EightBallMaybe3=
EightBallError=
EightBallMaybe4=
EightBallMaybe5=
EightBallInfo=
EightBallNo5=
EightBallNo3=
EightBallNo4=
EightBallNo1=
EightBallNo2=
EightBallYes9=
EightBallYes10=

[CommandInvite]
InviteInfo=

[CommandRaffleJoin]
RaffleJoinFailure=
RaffleJoinInfo=
RaffleJoinSuccess=

[CommandDBFlush]
DBFlushInfo=


